* {
  margin: auto;
  padding: auto;
  padding-right: 0px;
  box-sizing: border-box;

} /* for covid aleart line*/

body{
  overflow-x: hidden;
}
.head1 {
  margin-top: 0;
  padding: 5px;
  text-align: center;
  background-color: rgb(216, 203, 229);
} /* for blue- section*/

.navbar-top {
  background-color: rgb(75, 40, 109);
  display: flex;
}
.navbar-top ul {
  display: flex;
  max-height: 30px;
}
.navbar .navbar-top ul li {
  text-decoration: none;
  margin-top: -8px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  border-width: 0px 0px 0px 1px;
}
.navbar .navbar-top ul li a {
  text-decoration: none;
  color: white;
}

.Why-TELUS {
  padding: 0;
}
.nav-right {
  display: flex;
}
.nav-right a {
  color: white;
  letter-spacing: 1px;
  padding-left: 10px;
}
.last-navbar {
  display: flex;
}
.last-navbar list ul li {
  display: flex;
}
/* telus logo section*/
.table {
  margin-top: 0px;
  display: inline-flex;
  margin-left: 80px;
}
.element {
  margin-top: 25px;
}
.table ul {
  list-style-type: none;
  float: top;
  height: 40px;
  margin-top: 30px;
  color: blueviolet;
  padding: 0px 30px;
}
.table li {
  padding: 0px 10px;
  display: inline-block;
  margin-top: 0px;
}
.search {
  padding: 0px 10px;
  display: inline-block;
  margin-top: 11px;
}

/* for container section-a*/
.container {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
}
.section-A {
  margin-right: 100px;
  margin-left: 100px;
}
.heading {
  margin-right: 120px;
  font-size: 1.2rem;
  line-height: 1.29;
}
.heading h1 {
  color: rgb(75, 40, 109);
}
.heading p {
  margin-right: 30px;
  letter-spacing: -1.2px;
}
.heading a {
  color: rgb(43, 128, 0);
}
/* for  section-b three image box sec*/
.section-B {
  width: 100%;
  margin: 10px;
  padding: 20px;
}
.title {
  flex-direction: row;
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.29;
  margin: 0;
  color: rgb(75, 40, 109);
  padding-top: 5px;
  padding-bottom: 10px;
}
.section-B ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
.section-B ul li {
  margin-bottom: 1em;
  background: rgb(243, 243, 243);
  color: #333;
  border: honeydew;
  margin: 10px;
  padding: 4px;
  width: 33%;
}
.section-B ul li h3 {
  margin: 0;
  padding: 1em 0;
  letter-spacing: 1px;
}
.section-B ul li a {
  margin-bottom: 15px;
  color: rgb(43, 128, 0);
}
.card-content {
  padding: 1.5em;
}

.section-B h3 {
  overflow-wrap: break-word;
  color: rgb(42, 44, 46);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.6px;
}
.card-content p {
  color: rgb(42, 44, 46);
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}
/* for 5G section*/
.container1 {
  width: 89%;
}
.section-C {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px 100px;
  background: rgb(247, 247, 248);
  padding-top: 5px;
  padding-bottom: 10px;
}
.Cimg {
  padding: 30px 50px;
}
.para2 h3 {
  margin-top: -2.5rem;
  margin-bottom: 1rem;
}
.para2 p {
  color: rgb(42, 44, 46);
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
  font-weight: 500;
}
.para2 a {
  margin-bottom: 15px;
  color: rgb(43, 128, 0);
}
.container2 {
  width: 89%;
  margin: 30px;
}
/* for shop and product section*/
.section-D {
  text-align: center;
}
.img-galary {
  display: flex;
  margin-top: 25px;
}
.image-link {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-link img:hover {
  transform: scale(1.1);
}
.LazyLoad {
  text-align: center;
}
/* for last section before terms and condition*/
.container3 {
  width: 89%;
  margin-bottom: 100px;
}
.section-E {
  display: flex;
  margin-top: 25px;
}
.para3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.para3 p {
  color: rgb(42, 44, 46);
  padding: 0px;
  margin-top: 20px;
  /* overflow-wrap: break-word; */
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
  font-weight: 500;
}
.para3 a {
  text-decoration: none;
  margin-bottom: 15px;
  color: rgb(43, 128, 0);
}
/* for collapsable button section */
.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  outline: none;
}
.active,
.collapsible:hover {
  background-color: #ffffff;
}

.content {
  padding: 0 18px;
  width: 69%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.content p {
  margin: 15px;
  margin-bottom: 20px;
  padding-left: 1rem;
}

/* for fotter section*/
.ge-footer {
  margin-top: 10px;
  background-color: rgb(42, 44, 46);
}
.heading4 {
  padding-left: 150px;
  background-color: rgb(247, 247, 248);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.fooder {
  background-color: rgb(42, 44, 46);
  display: flex;
}
.element2 {
  display: flex;
}
.element2 ul {
  list-style: none;
  margin-top: 45px;
}
.element2 li {
  margin: 10px 0;
}
.element2 a {
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 40px;
  margin: 15px;
  font-size: 1rem;
}
.hr-bottom {
  margin-top: 20px;
  width: 90%;
  color: rgb(255, 255, 255, 0.7);
}
.bottom-cr {
  float: right;
  margin: 20px 60px;
}
.bottom-logo-img {
  margin: 20px 60px;
}
/* Responsive section for different section*/

@media only screen and (min-width: 769px)  and (max-width: 991px){

  * {
    margin: 0;
    padding:0;
    width: 100%;
  }
 
  .section-E {
    display: grid;
    margin-top: 25px;
    margin-left: 70px;
  }
   .para3 {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
  }
  
  .Eimg {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Eimg-other {
    margin-top: 0;
    height: 300px;
   max-width: auto;
   margin-left: auto;
  }
  
.element2 {
  display: grid;
  text-align: center;
}

.new-Name{
  grid-row-start: 1;
    grid-row-end: 2;

}
.new-Name-other{
  grid-row-start:2 ;
    grid-row-end:3 ;

}
.content {
  width: 95%;
  margin-left: auto;
}
.heading4 {
  text-align: center;
  padding-left: unset;
}
.container1 {
  width: 89%;
  margin-left: 70px;
}
.Cimg {
  padding: 30px 50px;
}
.para2 h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.element2 a{
  text-align: left;
}
.hr-bottom {
  margin: auto;
  text-align: center;
}

.bottom-logo-img {
  height: 40px;
  width: 100px;
 
}
.bottom-cr {
  position: absolute;
  text-align: right;

}
}

@media only screen  and (max-width: 768px) {
  * {
    margin: 0px;
    width: 100%;
  }
  .container {
    margin: 0px;
    display: grid;
    text-align: center;
  }
  .section-A {
    margin: 0px;
  }
  .cockatoo {
    max-width: 60%;
    max-height: 60%;
    text-align: center;
  }
  .heading {
    display: grid;
    text-align: center;
  }
  .heading h1 {
    text-align: center;

    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .para {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .section-B {
    width: 100%;
    margin: 10px;
    padding: 20px;
  }

  .section-B ul {
    display: grid;
    width: auto;
  }
  .section-B ul li {
    width: 100%;
  }
  .card{
     max-width: center;
  }
  .section-C {
    display: flex;
  }
  .container1 {
    width: 100%;
    margin: 20px;
    padding: 25px;
  }
  .section-C {
    display: grid;
    text-align: center;
  }
  .section-D {
    text-align: center;
  }
  .img-galary {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 25px;
    margin-left: auto;
    text-align: center;
  }

  .container3 {
    width: 100%;
    margin: 20px;
    padding: 25px;
  }
  .section-E {
    display: grid;
    margin-top: 25px;
  }
  .para3 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .para3-other {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .Eimg {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Eimg-other {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .content {
    width: 95%;
  }
  .heading4 {
    text-align: center;
    padding-left: unset;
  }
  .fooder {
    display: flex;
  }
  .element2 {
    display: grid;
  }
  .new-Name{
    grid-row-start: 1;
      grid-row-end: 2;
  
  }
  .new-Name-other{
   grid-row-start:2 ;
  grid-row-end:3 ;
  
  }
  
  .hr-bottom {
    margin: auto;
    text-align: center;
  }
  .bottom-logo-img {
    padding-bottom: 5px;
    margin-top: 10px;
    max-width: 30%;
    max-height: 80%;
  }
  .bottom-cr {
    position: absolute;
    margin-top: 10px;
    max-height: 80%;
  }
}